/* Override some defaults */
html, body {
    font-size: 12px;
  line-height: 22px;
  font-family: "ClassicGrotesqueW01-Rg", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    background-color: #f8f8f5;
    color: #5c5c5c;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  /*width: 820px; *//* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  
}

/* Page header tweaks */
.page-header {
  margin:25px 0;
  border-bottom: 0 none;

}
.page-header h1{
  color: #000000;
    font: bold 24px/26px "ClassicGrotesqueW01-SmB 1130040","Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei","Microsoft YaHei",SimSun,sans-serif;
    padding: 2px 0;
    margin: 0;
}
.page-header small{
  color: #7D7D7D;
    font: 14px "ClassicGrotesqueW01-Rg",Arial,sans-serif;
}
.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

/*content*/
.article_detail p{
  font-size: 14px;
  text-align: left;
    text-indent: 32px;
    margin:0 15px 30px 0;
    line-height: 22px;
}
.article small{
  color: #7D7D7D;
    font: 14px "ClassicGrotesqueW01-Rg",Arial,sans-serif;
}